.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin-top: 42px;
  margin-bottom: 100px;
}
.logo::first-letter {
  color: rgb(26, 188, 156);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  float: left;
}
.list-item {
  float: left;
  margin-right: 34px;
}
.list-item:last-child {
  margin-right: 0;
}

.link-item {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s ease-out;
  font-size: 14px;
}

.link-item:hover {
  color: rgb(26, 188, 156);
  transition: 0.2s ease-out;
}
