.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin-top:42px;
    margin-bottom:110px;
 
}
.logo::first-letter {
  color: rgb(26, 188, 156);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size:30px;
  float: left;
  
}
.menu-list{
    float:right;
}
.list-item {
  margin-right: 34px;
  float: left;
}

.list-item:last-child {
  margin-right: 0;
}

.link-item {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s ease-out;
  font-size:14px;
  
}

.link-item:hover {
  color: rgb(26, 188, 156);
  transition: 0.2s ease-out;
}
.title {
    text-transform:uppercase;
    font-family:'Roboto';
    font-weight: 800;
    color: rgb(81,81,81);
    text-align:center;
    font-size:48px;
    margin-top: 105px;

}
.title products ::after {
    display: inline-block;
    background-color:#1abc9c;
    width: 165px;
    height: 7px;
    content: '';    
}
.product-card {
    margin-top:130px;
    display:inline-block;
    float:left;  
}
.product-card:not(:nth-child(n)) {
    margin-right: 30px;
}
.news {
    float: left;
}


